Example/Task 7/RecordBookBL/ASP.NET/Xml/WebControlProvider.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
// <auto-generated>
//     Внимание! Любые изменения в этом коде являются грубым нарушением 
//     конвенции о взаимодействии с технологическим отделом.
//     Если у вас возникает необходимость в изменении или доработках,
//     обращайтесь в технологический отдел согласно правилам:
//     http://storm:2010/page/TechnoAlgorythm.aspx
//     Все несанкционированные изменения будут удалены 
//     при очередном обновлении технологического слоя.
// </auto-generated>
-->
  <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="propertytype" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element name="control" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="typename" type="xs:string" use="required" />
                  <xs:attribute name="property" type="xs:string" use="required" />
                  <xs:attribute name="codefile" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="editcontrol" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="typename" type="xs:string" use="required" />
                  <xs:attribute name="property" type="xs:string" use="required" />
                  <xs:attribute name="codefile" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="filtercontrol" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="typename" type="xs:string" use="required" />
                  <xs:attribute name="codefile" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="customproperty" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="control" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="typename" type="xs:string" use="required" />
                  <xs:attribute name="property" type="xs:string" use="required" />
                  <xs:attribute name="codefile" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="editcontrol" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="typename" type="xs:string" use="required" />
                  <xs:attribute name="property" type="xs:string" use="required" />
                  <xs:attribute name="codefile" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="filtercontrol" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="typename" type="xs:string" use="required" />
                  <xs:attribute name="codefile" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="class" type="xs:string" use="required" />
            <xs:attribute name="property" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>