Example/Task 8/RecordBookBL/ASP.NET/Service References/ServiceReference1/CheckExam.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckChangedMarks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="оценки" type="tns:ArrayOfОценкаДляПроверки" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfОценкаДляПроверки">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ОценкаДляПроверки" nillable="true" type="tns:ОценкаДляПроверки" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ОценкаДляПроверки">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" type="tns:ЗначениеОценки" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ЗначениеОценки">
        <s:restriction base="s:string">
          <s:enumeration value="НетОценки" />
          <s:enumeration value="Удовлетворительно" />
          <s:enumeration value="Хорошо" />
          <s:enumeration value="Отлично" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CheckChangedMarksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckChangedMarksResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckChangedMarksSoapIn">
    <wsdl:part name="parameters" element="tns:CheckChangedMarks" />
  </wsdl:message>
  <wsdl:message name="CheckChangedMarksSoapOut">
    <wsdl:part name="parameters" element="tns:CheckChangedMarksResponse" />
  </wsdl:message>
  <wsdl:portType name="CheckExamSoap">
    <wsdl:operation name="CheckChangedMarks">
      <wsdl:input message="tns:CheckChangedMarksSoapIn" />
      <wsdl:output message="tns:CheckChangedMarksSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckExamSoap" type="tns:CheckExamSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckChangedMarks">
      <soap:operation soapAction="http://tempuri.org/CheckChangedMarks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckExamSoap12" type="tns:CheckExamSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckChangedMarks">
      <soap12:operation soapAction="http://tempuri.org/CheckChangedMarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckExam">
    <wsdl:port name="CheckExamSoap" binding="tns:CheckExamSoap">
      <soap:address location="http://localhost:6500/CheckExam.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckExamSoap12" binding="tns:CheckExamSoap12">
      <soap12:address location="http://localhost:6500/CheckExam.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>